:root {
	/* size */
	--base-size: 1rem;
	--base-size-cap: 0.5rem;

	/* color */
	--background-color: black; 
	--color-primary: white;

	/* spacing */
	--padding: 1rem;

	/* family */
	--font-family-h1: Montagu Slab;
	--font-family-h2: Fustat;
	--font-family-h3: Montaga;

	font-size: var(--base-size);
}



/* header */
body {
	color: var(--color-primary);
	background-color: var(--background-color);
	color: var(--font-color-primary);
	padding: var(--padding);
	margin-left: calc(2*var(--padding));
}
header {
	padding-left: var(--padding);
	padding-top: calc(5*var(--padding));
	padding-bottom: calc(5*var(--padding));
	/* align-items: center; */
	/* text-align: center; */
}
#channel-title {
	padding-top: calc(3*var(--padding));
	padding-bottom: calc(3*var(--padding));
	font-size: calc(7*var(--base-size));
	font-family: var(--font-family-h1);
	color: var(--color-primary);
	max-width: 50vw; 

}
#channel-description {
	padding-right: var(--padding);
	font-family: var(--font-family-h2);
	color: var(--color-primary);
	max-width: 45vw; 
}
#channel-link {
	padding-right: var(--padding);
	font-family: var(--font-family-h2);
	color: var(--color-primary);
	font-size: calc(1.5*var(--base-size));

}
h3 {
	padding-right: var(--padding);
	font-family: var(--font-family-h3);
	font-size: calc(2*var(--base-size));
	padding-bottom: var(--base-size);
}


/* filter*/ 
.filter {
	align-content: center;
}
filter li {
	font-size: var(--base-size);
	font-family: var(--font-family-h2);
}	



/* content */
#main {
	block-size: 13px;
	padding-bottom: calc(2*var(--base-size));
}
#channel-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	padding-top: 1.5rem;
	align-items: center;
	gap: 2rem 0.5rem;
	padding-left: var(--padding);
}
.arch-button {
	width: 170px; 
	height: 220px; 
	overflow: hidden;
	object-fit: cover;
	border-radius: 100px 100px 0 0;
	border: 4px solid #565656;
	padding-left: 0;
	visibility: visible;
	opacity: 1;
	transition: opacity 3s ease-in-out; 
	cursor: pointer;

}	
.text-block {
	line-height: 150%;
	padding-top: calc(2.5*var(--padding));
	padding-left: calc(2*var(--padding));
	font-family: var(--font-family-h3);
}

#channel-blocks img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#channel-count {
	text-align: center;
	max-height: 400px;
	object-fit: cover;
} 
#channel-users {	
	border-radius: 100px 100px 0 0;
	margin-right: 20px;
} 
p {
	padding-left: var(--padding);
	padding-top: var(--padding);
	font-size: calc(1.5*var(--base-size));
	font-family: var(--font-family-h2);
}
/* hide the unselected category */
.hide {
	visibility: hidden;
	display: none;
	opacity: 0;
}
/* show the selected category */
.show-audio li.audio-block,
.show-link li.link-block,
.show-text li.text-block,
.show-image li.image-block,
.show-video li.video-block {
	visibility: visible;
	opacity: 1;
}
/* link */
span {
	text-decoration: underline;
}


/* modal */
dialog {
	padding: 2rem;
	border-radius: 24px;
	border: 4px solid #565656;
	max-width: 600px;
	max-height: 800px;
	width: 50%;
	color: var(--color-primary);
	background-color: var(--background-color);
	font-size: calc(2*var(--base-size));
	font-family: var(--font-family-h3);
}
.close-button {
  margin-top: 1rem;
  cursor: pointer;
}


/* footer */
footer {
	padding-top: var(--padding);
	padding-bottom: var(--padding); 
	font-family: var(--font-family-h3);
	line-height: 150%;
	text-align: center;
}



@media (min-width: 600px) {
:root {
	--width: 170px;
	--height: 220px;
}


/* header */
html, body {
	margin-left: calc(1.5*var(--padding));
	margin-top: var(--padding);

}
header {
	padding-top: var(--padding);
	padding-bottom: calc(2*var(--padding));
}
h1 {
	font-size: calc(10*var(--base-size));
	line-height: 100%;
	padding-top: calc(0.5*var(--padding));
}
h2 {
	font-size: calc(1.2*var(--base-size));
}



/* intro vid */
.intro { 
	padding-bottom: calc(4*var(--padding));	
}
img.gif {
	height: 650px;
}



/* filter */
li {
align-content: center;
}	
ul {
padding-top: calc(1.5*var(--padding-top));
padding-bottom: calc(10*var(--padding-bottom));
}



/* content */
#channel-blocks {
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	gap: 2rem 1rem;
	place-items: center;
	margin: 0;
	padding: 0;
}
#channel-blocks li {
	width: calc(1.4*var(--width));
	height: calc(1.4*var(--height)); 
	border-radius: 130px 130px 0 0;
}
p {
	padding-left: 0;
	padding-top: calc(0.5*var(--padding));
}



/* footer */
footer {
	padding-bottom: calc(2*var(--padding));
}
}