:root {
	/* size */
	--base-size: 1rem;

	/* color */
	--background-color: black; 
	--color-primary: white;

	/* spacing */
	--padding: 1rem;

	/* family */
	--font-family-h1: Montagu Slab;
	--font-family-h2: Fustat;
	--font-family-h3: Montaga;

	font-size: var(--base-size);
}



/* header */
body {
	color: var(--color-primary);
	background-color: var(--background-color);
	padding: var(--padding);
}
header {
	padding-bottom: calc(3*var(--padding));
	padding-top: calc(3*var(--padding));
}
header img {	
	padding-top: calc(1.5*var(--padding));
	padding-bottom: calc(1.5*var(--padding));
}
#channel-title {
	padding-bottom: calc(1.5*var(--padding));
	padding-top: calc(1.5*var(--padding));
	font-size: calc(3*var(--base-size));
	font-family: var(--font-family-h1);
	color: var(--color-primary);
	line-height: 120%;
}
#channel-description {
	font-family: var(--font-family-h2);
	color: var(--color-primary);
	font-size: calc(1.1*var(--base-size));
	line-height: 150%;
}
#channel-link {
	padding-right: var(--padding);
	font-family: var(--font-family-h2);
	color: var(--color-primary);
	font-size: calc(1.2*var(--base-size));
}



/* filter*/ 
h2 {
	font-family: var(--font-family-h3);
	font-size: calc(2.5*var(--base-size));
	border-bottom: 1px white solid;
	border-top: 1px white solid;
	text-align: center;
}
.filter {
	display: flex;
	justify-content: center;
	gap: calc(1.5*var(--padding));
	padding-top: var(--base-size);
	padding-bottom: var(--base-size);
	font-size: calc(1.2*var(--base-size));
	font-family: var(--font-family-h2);
	cursor: pointer;
}
.filter a.active {
	text-decoration: underline;
	text-underline-offset: 0.5em;
}
/* ease in providing feedback that you switch filter */
@keyframes fadeSlideIn {
	from {
	opacity: 0;
	transform: translateY(-20px);
}
	to {
	opacity: 1;
	transform: translateY(0);
}
}
#channel-blocks.animate-in li {
  animation: fadeSlideIn 0.6s ease-in both;
}



/* content */
#main {
	block-size: 13px;
	padding-bottom: calc(2*var(--base-size));
}
#channel-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	padding-top: 3rem;
	align-items: center;
	gap: 2rem 1rem;
}
.arch-button {
	width: 170px; 
	height: 220px; 
	overflow: hidden;
	object-fit: cover;
	border-radius: 100px 100px 0 0;
	border: 4px solid #565656;
	padding-left: 0;
	visibility: visible;
	opacity: 1;
	transition: opacity 3s ease-in-out; 
	cursor: pointer;
}	
#channel-blocks img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#channel-users {	
	border-radius: 100px 100px 0 0;
	margin-right: 20px;
} 
/* hide the unselected category */
.hide {
	visibility: hidden;
	display: none;
	opacity: 0;
}
/* show the selected category */
.show-audio li.audio-block,
.show-link li.link-block,
.show-text li.text-block,
.show-image li.image-block,
.show-video li.video-block {
	visibility: visible;
	opacity: 1;
}



/* modal */
dialog {
	padding: 2rem;
	border-radius: 24px;
	border: 4px solid #565656;
	max-width: 600px;
	max-height: 800px;
	width: 70%;
	color: var(--color-primary);
	background-color: var(--background-color);
	font-size: calc(2*var(--base-size));
	font-family: var(--font-family-h3);
}
.close-button {
	margin-top: 1rem;
	cursor: pointer;
}
h3 {
	padding-right: var(--padding);
	font-family: var(--font-family-h3);
	font-size: calc(2*var(--base-size));
	padding-bottom: var(--base-size);
}
dialog p {
	padding-top: var(--padding);
	font-size: calc(1*var(--base-size));
	font-family: var(--font-family-h2);
}



/* footer */
footer {
	padding-top: calc(5*var(--padding));
	padding-bottom: var(--padding); 
	font-family: var(--font-family-h2);
	line-height: 150%;
	color: var(--color-primary);
	font-size: var(--base-size);
}



/* back to top */
#back-to-top {
	text-align: center;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	cursor: pointer;
	display: none;
	z-index: 1000;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	border: 4px solid #565656;
	background-color: var(--background-color);
	line-height: 130%;
	font-family: var(--font-family-h2);
	font-size: var(--base-size);
}
#back-to-top.show {
	display: block;
	opacity: 1;
}



@media (min-width: 600px) {
:root {
	--width: 170px;
	--height: 220px;
}



/* header */
body {
	margin-left: calc(3*var(--padding));
	margin-top: var(--padding);
}
header {
	padding-top: calc(5*var(--padding));
	padding-bottom: calc(5*var(--padding));
}
#channel-title {
	font-size: calc(8*var(--base-size));
	line-height: 80%;
	max-width: 50vw;
}
#channel-description {
	font-size: calc(1.2*var(--base-size));
	line-height: 150%;
	max-width: 40vw;
}
#channel-link {
	font-size: calc(1.4*var(--base-size));
}



/* filter*/ 
h2 {
	padding-top: calc(1.05*var(--padding));
	padding-bottom: calc(1.05*var(--padding));
}
.filter {
	font-size: calc(1.4*var(--base-size));
	padding-top: calc(1.5*var(--padding));
	padding-bottom: calc(5*var(--padding));
	gap: 4rem;
}



/* content */
#channel-blocks {
	display: grid;
	grid-template-columns: repeat(4, 1fr); 
	gap: 2rem 1rem;
	place-items: center;
}



/* footer */
footer {
	padding-bottom: calc(2*var(--padding));
}
}